/*
font-family: 'Poppins', sans-serif; // paragraflarda kullanılacak
font-family: 'Readex Pro', sans-serif; // Başlıklarda Kullanılacak
font-family: 'Urbanist', sans-serif; // Menu ve Buttonlarda kullanılacak
background-color: #0d0821; // backgroundda kullanılacak renk kodu
*/